	<div id="footer">

		<div class="vcard" style="float:left;width:50%;">
			<!--img src="/images/content/microformat_hcard.png"/>  -->
			<a class="fn org url" href="/">TwoPiRadian Infotech Private Limited</a>
			<div class="adr">
				<!--span class="type"><b>Development Centre</b></span>: -->
				<div class="street-address">BIPPL Building C, 2nd Floor</div>
				<div class="locality">Sector V, Salt Lake</div>
				<div class="postal-code">Kolkata - 700 091</div>
				<div class="country-name">India</div>
			</div>
			<div class="tel">
				<span class="type">T:
				    <span class="telephone">+91 33 40065568&nbsp;&nbsp;</span>
				</span>
			</div>
			<div>
			  <span>E:
				  <span class="email">info@2pirad.com</span>
			  </span>
			</div>
		</div>

		<div class="footer-menu" style="float:right;width:48%;text-align:right;">
			<a href="/">&nbsp;&nbsp;Home&nbsp;&nbsp;&nbsp;</a> | <a href="/solutions/ria">&nbsp;&nbsp;What we do&nbsp;&nbsp;</a> | <a href="/methodology/practices">&nbsp;&nbsp;How we do&nbsp;&nbsp;</a> | <a href="/about/leadership">&nbsp;&nbsp;Who we are&nbsp;&nbsp;</a> | <a href="/openings">&nbsp;&nbsp;Openings&nbsp;&nbsp;</a> | <a href="/contact">&nbsp;&nbsp;Contact us&nbsp;&nbsp;</a>
		</div>
		<div style="clear:both"></div>

		<div class="footer-menu" align="center">
		<!--a>Sitemap</a> | <a>Privacy Policy</a> | <a>Contact us</a-->
		</div>
		<div class="copyright" align="center">
			&copy; 2006-2021 TwoPiRadian Infotech Private Limited. All rights reserved.
		</div>
	</div>

</div>

<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-6120275-1']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();

</script>
