<div class="mainBanner clearfix">
	<a href="/solutions/ria">
		<div class="left">
			<h3>Rich Internet Applications</h3>
			<div><p>We design, build and maintain user-centric, enterprise-wide Enterprise 2.0 enabled intranets and partner portals. We rely on service orientation as the fundamental design principle. We have extensive experience in a wide range of technologies including REST, RPC and Web Services.</p></div>
		</div>
	</a>
	<a href="/solutions/middleware">
		<div class="left">
			<h3>Enterprise Middleware</h3>
			<div>
				<p>We specialize in developing secure, scalable message oriented middleware solutions. We also enable enterprises to integrate the diverse components and applications, thereby allowing them to interoperate in a reliable manner.</p>
			</div>
		</div>
	</a>
	<a href="/solutions/analytics">
		<div class="left">
			<h3>Enterprise Analytics</h3>
			<div>
				<p>We specialize in innovative analytics algorithm development that helps you get the right perspective, and optimize in the right areas.</p>
			</div>
		</div>
	</a>

	<br clear="all"/>
</div>

<div class="defaultBody clearfix">
    <div class="col">
    		<div id="domainSlider" class="colSel"></div>
		    <div class="item">
		        <h3>Airport Automation</h3>
		        <p>Development of message-oriented-middleware driven airport automation solutions and system integration projects based on this solution.</p>
		    </div>
		    <div class="item">
		        <h3>Travel & Hospitality </h3>
		        <p>Cloud enabled applications on various form-factors that intend to simplify the travelling experience and get the best deals.</p>
		    </div>
		    <div class="item">
		        <h3>Financial Services</h3>
		        <p>Rich internet applications in the areas of retirement planning and debt management.</p>
		    </div>
		    <!--div class="item">
		        <h3>Mobile Solutions</h3>
		        <p>Enterprise class mobile applications on iPhone, Android, BlackBerry, Symbian OS, Windows Mobile and J2ME platforms. </p>
		    </div-->
    </div>

	<div class="col2">
			<h2>Project Highlights</h2>
		    <div class="projHighlights">
		        <h3>Message oriented Middleware</h3>
		        <p>A SOA-ready, scalable data communication solution for connecting heterogeneous subsystems in airports with comprehensive monitoring capabilities. <br/><br/></p>
		        <h3>System Integration</h3>
		        <p>Partnered with Unisys for the System Integration of Terminal 3 of Delhi Airport.</p>

		    </div>
		    <div class="projHighlights">
		        <h3>Rule Engine</h3>
		        <p>Rule Engine for efficient enumeration of travel related queries against a dynamically changing criteria <br/><br/></p>
		        <h3>Collaboration application on the intranet</h3>
		        <p>Enterprise Information Portal(EIP) for employees and partners located in its disparate offices spread all over India with a sizeable percentage of employees who are constantly on the move.</p>
		    </div>
		    <div class="projHighlights">
		        <h3>Financial Planning</h3>
		        <p>Rich internet Application in the domain of Retirement Planning & Debt consolidation for the retail customer as well as financial planner. The solution can be customized to run as an enterprise application in the intranet. <br/><br/></p>
		        <h3>Financial Tools</h3>
		        <p>Development of sophisticated financial tools intended for use of financial planners handling high net worth investors </p>
		    </div>
		    <!--div class="projHighlights">
		        <h3>iPhone App</h3>
		        <p>A garage sale application for the iPhone which allows users to display items they wish to sell. Interested buyers may contact the seller to complete the transaction. This application is also integrated with Facebook which allows the seller's Facebook community to also participate in the buy/sell. The application is now available for download on the AppStore.  <br/><br/></p>
		        <h3>Enterprise Intranet</h3>
		        <p>Enabling the workflow module and other productivity tools of an Enterprise Information Portal over smart phones (iPhone, Blackberry, Symbian OS, Android) </p>
		    </div-->
	</div>

	<div>
		<a href="/openings"><img class="postitImg" style="float:right;margin-right:50px;"src="/images/content/postIt-us.png"></a></img>
	</div>


	<div style="margin-top:-10px;" class="infobox">
		<h3>2PiRad Labs</h3>
		<p>At 2PiRad Labs, our solutions take shape. Whether they are reusable components in Enterprise Middleware, or business components in the area of collaboration, or computation frameworks for the analytics - they all take shape here
		<a href="/solutions/labs"><strong>Know more</strong></a></p>
	</div>
</div>
