<div class="mainBanner clearfix">
	<div id="dock">
		<ul>
			<li id="ria"><a href="/solutions/ria">Rich Internet Applications</a></li>
			<li id="middleware"><a href="/solutions/middleware">Enterprise Middleware</a></li>
			<li id="analytics"><a href="/solutions/analytics">Enterprise Analytics</a></li>
			<li id="labs"><a href="/solutions/labs">2PiRad Labs</a></li>
		</ul>
	</div>
	<br clear="all"/>
</div>
<div id="banner-solutions" class="pageHeading">
	<h3><a href="/solutions/ria">What we do</a></h3>
</div>
