<div id="why2PiRad" class="clearfix">
		<ul id="myRoundabout">
		   <li>
		   	   <h3>Best Practices</h3>
		   	   <p>
		   			The entire methodology of project execution is based on the philosophy of collaboration and harnessing of collective intelligence. The basic philosophy is on an iterative model of execution and delivery with short release cycles, based on agile practices
		   	   </p>
		   </li>
		   <li>
		   	   <h3>Team</h3>
 	                Exceptionally talented team aligned with 2PiRad values<br/>
	                Strong work ethic and 'can-do' attitude<br/>
	                Ability to deliver, individually and collectively<br/>
	                Focus on continual improvement and growth<br/>
	                Harness the power of community participation<br/>
		   </li>
		   <li>
		   	   <h3>Competence</h3>
             		Experienced Technical and Managerial Resources<br/>
             		Keen followers of the Technology space<br/>
              		Wide exposure and experience in the verticals<br/>
              		Strong domain knowledge in the related areas<br/>
              		Alliance with premier academic institutions for specialized requirements<br/>
		   </li>
		   <li>
		   	   <h3>Commitment</h3>
		              Focussed on our clients' success and delivering real value<br/>
		              Being flexible in accommodating changes in requirements through a prototyping approach<br/>
		              Aligning the entire team to contribute to our customers' satisfaction<br/>
		   </li>
		</ul>
		<!--div class="buttonBar">
			<button id="previous" style="float:right;">Previous!</button>
			<button id="next" style="float:left;">Next!</button>
		</div-->
</div>